In [58]:
a = "hello"
b = 'hi'
c = """indore is a "cool" city
indore is a big city"""
d = '''hello 'world'!!
this is multi line string'''

In [59]:
print(a,b,c,d,sep="\n")

hello
hi
indore is a "cool" city
indore is a big city
hello 'world'!!
this is multi line string

In [60]:
for i in a:
    print(i)

h
e
l
l
o

In [61]:
print(c[::-1])

ytic gib a si erodni
ytic "looc" a si erodni

In [62]:
print(c[100::-1])

ytic gib a si erodni
ytic "looc" a si erodni

In [63]:
print(c[-1:-50:-1])

ytic gib a si erodni
ytic "looc" a si erodni

In [64]:
str1 = "               lstrip worked."
str2 = "rstrip worked                "
str3 = "         strip worked        "
print(str1.lstrip())
print(str2.rstrip())
print(str3.strip())

lstrip worked.
rstrip worked
strip worked

In [65]:
a = input("name : ")
b = input("City : ")
print("hi am {} i am from {}".format(a,b))

hi am  i am from

In [66]:
# find index of all SAIT word in given string
str_sait = "SAIT LOREM SAIT MY NAME IS VIVEK SAIT I STUDY IN SAIT SAIT SAIT SAIT SAIT"
sub = "SAIT"
i = str_sait.find(sub)
if i == -1:
    print("String is empty")
while i != -1:
    print(f"{sub} present at {i} positions.")
    i = str_sait.find(sub,i+len(sub),len(str_sait))

SAIT present at 0 positions.
SAIT present at 11 positions.
SAIT present at 33 positions.
SAIT present at 49 positions.
SAIT present at 54 positions.
SAIT present at 59 positions.
SAIT present at 64 positions.
SAIT present at 69 positions.

In [67]:
name = input("enter name: ")
first,last = name.split()
print(f"welcom Mr.{last}")

ValueError: not enough values to unpack (expected 2, got 0)

## to check the type of char present in a string:
* isalnum()
* isalpha()
* isdigit()
* islower()
* isupper()
* istitle()
* isspace()

In [ ]:
s = "a5b6c3d9"
for i in s:
    if i.isalpha():
        alpha = i
    elif i.isdigit():
        num = int(i)
print(alpha*num)

ddddddddd

In [ ]:
prev = " "
cur = " "
for i in s:
    if i.isalpha():
        cur = cur + i
        prev = i
    elif i.isdigit():
        cur = cur+prev*(int(i)-1)
        
print(cur)

 aaaaabbccccccccc

In [ ]:
# chr(unicode)  == corresponding char
# ord(char) == corresponding unicode
cur1 = ' '
st = 'a5b2c9'
for i in st:
    if i.isalpha():
        cur1 = cur1 + i
        prev = i
    else:
        cur1 = cur1+chr(ord(prev)+int(i))
print(cur1)

 afbdcl

In [76]:

str_raw = input("enter string:")
empty = ' '
for i in str_raw:
    if i not in empty:
        empty = empty + i
print(empty)

 viek

> # list
* collection of hetro or homogeneous data objects
* is __mutable__

In [84]:
lst1 = [12,45,132,"vivek",32.22]
print(lst1)

[12, 45, 132, 'vivek', 32.22]

In [85]:
lst2 = [11,33,24,52]
lst1.append(lst2)           # added as a single list element at single index
print(lst1)

[12, 45, 132, 'vivek', 32.22, [11, 33, 24, 52]]

In [86]:
print(lst1[5][1])

33

In [87]:
lst1.extend(lst2)       # give single index to each element

In [88]:
print(lst1)

[12, 45, 132, 'vivek', 32.22, [11, 33, 24, 52], 11, 33, 24, 52]

In [ ]:
cpy_lst = lst1.copy()           # returns a copy of the list

In [100]:
print(lst1.index(132))          # returns the index of the first element with the specified value

2

In [104]:
print(lst1.count(132))           # returns the number of elements with the specified value

1

In [110]:
print(cpy_lst)

[12, 45, 132, 'vivek', 32.22, [11, 33, 24, 52], 11, 33, 24, 52]

In [111]:
cpy_lst.clear()

In [112]:
print(cpy_lst)

[]

In [116]:
print(lst1)
lst1[6]='new_element'

[12, 45, 132, 'vivek', 32.22, [11, 33, 24, 52], 'new_element', 33, 24, 52]

In [126]:
lst1[7:10] = [20,14,'new1']

In [127]:
print(lst1)

[12, 45, 'at third', 'at third', 'at third', 'at third', 'at third', 20, 14, 'new1', 32.22, [11, 33, 24, 52], 'new_element', 20, 14, 'new1']

In [131]:
lst1.insert(2,"second")
print(lst1)

[0, 12, 'second', 0, 45, 'at third', 'at third', 'at third', 'at third', 'at third', 'at third', 20, 14, 'new1', 32.22, [11, 33, 24, 52], 'new_element', 20, 14, 'new1']

In [138]:
# remove element from list
for i in lst1:
    if i == "at third":
        lst1.remove(i)
        
        
print(lst1)

[0, 12, 'second', 0, 45, 20, 14, 'new1', 32.22, [11, 33, 24, 52], 'new_element', 20, 14, 'new1']

In [172]:
print(lst1)

[12, 'second', 45, 14, 'new1', 32.22, [11, 33, 24, 52], 'new_element', 20, 14]

In [174]:
lst1_rvrsd = lst1.reverse()
print(lst1_rvrsd)

None

In [171]:
lst1.remove(20)   # removes the first item with the specified value

In [140]:
# remove the last item using `pop()`
lst1.pop()

'new1'

In [ ]:
# remove element from specific element
del lst1[0]

In [145]:
# delete complete list
del lst2

> list comprehension

syntex for list comprehension<br>
newlist = [expression for item in iterable if condition == True]

In [147]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# newlist = []

# for x in fruits:
#     if "a" in x:
#         newlist.append(x)

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [148]:
print([x for x in fruits if x != "apple"])

['banana', 'cherry', 'kiwi', 'mango']

In [149]:
# without condition 
print([x for x in fruits])

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [153]:
print([x for x in range(10) if x > 5])

[6, 7, 8, 9]

In [151]:
print([x.upper() for x in fruits])

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [150]:
print(["hello" for x in fruits])

['hello', 'hello', 'hello', 'hello', 'hello']

In [157]:
print([x if x != "banana" else "orange" for x in fruits])

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [175]:
print(fruits.sort(reverse=True))
# sort is a case sensitive method

#for case insensitive 
print(fruits.sort(key=str.lower))

None
None

In [165]:
# customized sort function
def myfunc(n):
    return abs(n-50)

thislist= [100,38,32,98,32,90]
thislist.sort(key=myfunc)   # using [key = function argument]
print(thislist)

[38, 32, 32, 90, 98, 100]

In [178]:
a = [[3,4],[1,2],[5,6]]
a.sort(key=lambda x: x[0])
print(a)

[[1, 2], [3, 4], [5, 6]]

> # Queue

In [180]:
from collections import deque

In [182]:
queue = deque(["Indroe","Vivek","today"])

In [183]:
queue.append("Ram")
queue.append("shyam")

In [184]:
queue.popleft()  # first to arrive now leaves

'Indroe'

In [188]:
x = [ ]
for i in range(10):
    x.append(i**2)
    
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [191]:
print(list((map(lambda x : x**2,range(10)))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [197]:
tup = (2,54,62,1,36,53,1,5,6,21)

In [198]:
print(tup)

(2, 54, 62, 1, 36, 53, 1, 5, 6, 21)

In [200]:
print(len(tup))
print(max(tup))
print(min(tup))
print(sum(tup))
print(sorted(tup))

10
62
1
241
[1, 1, 2, 5, 6, 21, 36, 53, 54, 62]

In [209]:
t = ("vivek","kumar","choudhary")
s = '-'.join(t)
print(s)

vivek-kumar-choudhary

In [ ]:
# second largest element of tuple
tup1 = (45,22,5,22,11)
firstLargest = max(tup1)
r = tup1[0]
for k in tup1:
    if r < k and k!=firstLargest:
        r = k
    elif r == firstLargest:
        r =  k
print(r)

22

In [245]:
# code to find prime number in list
prime_list = [1,4,5,6,2,43,21,19,17,8,92,1,2]
for t in prime_list:
    if t%2 != 0 and t%3 != 0:
        print(f"{t} prime")

1 prime
5 prime
43 prime
19 prime
17 prime
1 prime

>> # SET
* unordered collection of unique items
* not ordered
* slicing is not possible due to not preserved insertion order

>> # dictionary